@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --light-grey: #00000010;
  --primary: #CCD5AE;
  --secondary: #E9EDC9;
  --accent-primary: #D4A373;
  --accent-secondary: #FAEDCD;
  --base: #FEFAE0;
}

body {
    margin-top: 40px;
}

body, input, select, option, span {
    font-family: "Roboto";
}

.header > h1 {
  padding-bottom: 2px;
}

.header > p {
  font-weight: 300;
  font-size: medium;
}

.wrapper {
  margin: 0 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 20px;
}

.header,
.description,
.selections,
.map,
.results {
  grid-column: 1 / -1;
}

.description {
  color: #00000050;
  margin-top: 0;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: 20px;
  font-weight: 400;
}

.selections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  width: 100%;
  column-gap: 20px;
  min-width: 400px;
}

.selection {
  display: grid;
  grid-template-columns: minmax(25px, 1fr);
  grid-template-rows: auto 1fr;
  column-gap: 20px;
}

.selection > input {
  max-height: 30px;
}

.selection > select,
.selection > input {
  border-color: var(--light-grey);
  border-radius: 0.5vmin;
  border: 1px;
  border-style: solid;
  border-color: var(--light-grey);
}

#input-submit {
    font-weight: 500;
}

.selection > select > option,
.selection > input,
.selection > select {
  font-size: small;
  font-weight: 300;
  padding: 5px 0 5px 5px;
}

.selection > label {
  font-size: small;
  margin-bottom: 5px;
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.results {
  display: grid;
  grid-template-columns: repeat(4, auto);
  border: 1px;
  border-radius: 0.5vmin;
  border-style: solid;
  min-width: 400px;
  border-color: var(--light-grey);
  overflow: hidden;
  font-weight: 400;
}

.results span {
  padding: 10px;
  overflow: hidden;
  text-wrap: nowrap;
  font-weight: 300;
}

.results span.table-header {
  font-weight: 400;
  background-color: var(--light-grey);
}
